// Media Queries
$break-medium: 42em; // 768px
$break-large: 62em; // 1280px
$full-width: 100%; // 1280px

// Colors
$black: #222;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #ffffff;

$primary-bg: #e4ebf2;
$secondary-bg: #f6f7f9;
$tier-header-bg: #189acb;
